
.header{
    display: flex;
}
.navRight{
   justify-content: flex-start;
}
 .searchIcon{
 
   
   pointer-events: 'none';
   display: 'flex';
   align-items: 'center';
   justify-content: 'center';
   


  }
  .search{
      
  
    justify-content: flex-end;
      border-radius:8%;
      
      
  }

