
.header {
  

   border-bottom:  1px solid #466995;
 
    width: 100%;
     z-index: 10;
}  

.body{
  
  

    text-align: center;
    width: 100%;



    
    text-align: right;
    padding-right:  50px;
    font-family: sans-serif;
  
}
.submitbutton{
    border-radius: 15px;
    width: 200px;
}
.button{
    padding-top: 30px;
    text-align: right;
    padding:30px;
   
    flex-flow: row wrap;
	
}
.h1{
    font-size: 25px;
    font-weight: 400;
}
.h3{
font-size: 15px;
font-weight: 100;
}