.container{
    margin:110px auto;
    height:500px;
    width: 1500px;
   
    background-repeat: no-repeat;
}
.container1{
    margin: 20px auto;
    height:70px;
    width: 1000px;
    

  
}
.b{
    width: 80px;
    transition: width 2s;
    position: relative;
}
.b:hover{
    width: 150px;

    margin-bottom: 20;
}