.Label{
  font-family: 'Satisfy', cursive;
}
.Nav {
  margin: 0;
  padding: 0;
 
  justify-content: space-between;

    display: flex;
    align-items: center;
  background-color: rgb(0, 151, 221);
    overflow: hidden;
    height: 54px;

  
  
   flex-direction: row;

  }
  .rightNav{
    margin-left: 100px;
   
    display: inline-block;
    flex:right
  }
  .link{
    align-items: center;
    border: 1px solid #ffdc2e;
    border-radius: 16px;
  }
  .LeftNav{
    align-items: flex-end;
    flex:left
  }
  
  